* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  color: #ffffff;
}

.form {
  margin: 1rem auto;
}

.error {
  background: #a63446;
  padding: 0.1rem;
  text-align: center;
}

.created {
  margin-top: 1rem;
}

.created a {
  color: inherit;
}
